@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700");
@import "flat-icon/flaticon.css";
html,
body {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #acb6e5;
  background: -webkit-linear-gradient(to left, #86fde8, #acb6e5);
  background: linear-gradient(to left, #86fde8, #acb6e5);
  font-size: 16px;
  padding-bottom: 5px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  color: #2abffa;
}

.page {
  padding: 0 20px;
}

.container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  margin: 2vh auto;
  padding: 66px;
  max-width: 900px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.container__info {
  padding: 130px 90px 90px;
}

.languages__item {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.languages__icon {
  width: 26px;
  height: 26px;
  padding: 0 20px 0 0;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person__image {
  width: 230px;
  height: 241px;
  border: white 5px solid;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.person__name {
  padding-top: 8px;
  margin-bottom: 0;
}
.person__position {
  padding-bottom: 8px;
  color: #6D6D6D;
}
.person__badges {
  display: flex;
  justify-content: space-between;
}
.person__badges a {
  padding: 5px;
  font-size: 34px;
  text-decoration: none;
}
.person__badges a {
  transition: all 0.3s ease-in-out;
}
.person__badges a:hover {
  opacity: 0.5;
}
.person__description {
  color: #2abffa;
  font-size: 1.17em;
  font-weight: bold;
  margin: 0;
}
.person__description span {
  color: black;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500;
}
.person__info_title {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.person__info_title i {
  font-size: 24px;
  padding-right: 20px;
}
.person__info_content {
  padding-left: 20px;
}
.person__info_item {
  padding-bottom: 8px;
}

.contacts {
  padding: 4px 0 10px 23px;
}
.contacts__item {
  display: flex;
  align-items: center;
  margin: 0;
  color: #6D6D6D;
}
.contacts__item a {
  text-decoration: none;
  color: inherit;
}
.contacts__item i {
  padding-right: 16px;
}
.contacts__item span {
  padding-bottom: 4px;
}

.about_me p {
  margin: 0;
}

.education__institution {
  margin: 6px;
  opacity: 0.9;
}
.education__years {
  color: #6D6D6D;
  font-size: 14px;
}

.icon_github {
  color: black;
}

.icon_telegram {
  color: #26a6e7;
}

.icon_linkedin {
  color: #0077b7;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer__link {
  display: flex;
  font-size: 18px;
  opacity: 0.5;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.footer__link i {
  padding: 1px 12px;
}
.footer__link:hover {
  opacity: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.tags__item {
  background-color: rgba(42, 191, 250, 0.6);
  color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 2px 4px;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 33px;
  }
  .container__info {
    padding: 0;
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}