.contacts {
  padding: 5px 0;

  &__email {
    border-bottom: 1px solid transparent;

    transition: 0.2s;

    &:hover {
      border-bottom: 1px solid rgba($color: #6d6d6d, $alpha: 0.6);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0;
    color: #6d6d6d;

    a {
      text-decoration: none;
      color: inherit;
    }

    i {
      padding-right: 16px;
    }

    span {
      padding-bottom: 4px;
    }
  }
}
