@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?d5be21fa7e3676071b362cf865ac06ad") format("truetype"),
url("./flaticon.woff?d5be21fa7e3676071b362cf865ac06ad") format("woff"),
url("./flaticon.woff2?d5be21fa7e3676071b362cf865ac06ad") format("woff2"),
url("./flaticon.eot?d5be21fa7e3676071b362cf865ac06ad#iefix") format("embedded-opentype"),
url("./flaticon.svg?d5be21fa7e3676071b362cf865ac06ad#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-viber:before {
    content: "\f101";
}
.flaticon-language:before {
    content: "\f102";
}
.flaticon-graduation-hat:before {
    content: "\f103";
}
.flaticon-info-button:before {
    content: "\f104";
}
.flaticon-skills:before {
    content: "\f105";
}
.flaticon-medal:before {
    content: "\f106";
}
.flaticon-github:before {
    content: "\f107";
}
.flaticon-telegram:before {
    content: "\f108";
}
.flaticon-linkedin:before {
    content: "\f109";
}
.flaticon-profile-user:before {
    content: "\f10a";
}
.flaticon-pin:before {
    content: "\f10b";
}
.flaticon-email:before {
    content: "\f10c";
}
.flaticon-calendar:before {
    content: "\f10d";
}
.flaticon-agenda:before {
    content: "\f10e";
}
.flaticon-foreign:before {
    content: "\f10f";
}
