$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?d5be21fa7e3676071b362cf865ac06ad") format("truetype"),
url("./flaticon.woff?d5be21fa7e3676071b362cf865ac06ad") format("woff"),
url("./flaticon.woff2?d5be21fa7e3676071b362cf865ac06ad") format("woff2"),
url("./flaticon.eot?d5be21fa7e3676071b362cf865ac06ad#iefix") format("embedded-opentype"),
url("./flaticon.svg?d5be21fa7e3676071b362cf865ac06ad#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "viber": "\f101",
    "language": "\f102",
    "graduation-hat": "\f103",
    "info-button": "\f104",
    "skills": "\f105",
    "medal": "\f106",
    "github": "\f107",
    "telegram": "\f108",
    "linkedin": "\f109",
    "profile-user": "\f10a",
    "pin": "\f10b",
    "email": "\f10c",
    "calendar": "\f10d",
    "agenda": "\f10e",
    "foreign": "\f10f",
);

.flaticon-viber:before {
    content: map-get($flaticon-map, "viber");
}
.flaticon-language:before {
    content: map-get($flaticon-map, "language");
}
.flaticon-graduation-hat:before {
    content: map-get($flaticon-map, "graduation-hat");
}
.flaticon-info-button:before {
    content: map-get($flaticon-map, "info-button");
}
.flaticon-skills:before {
    content: map-get($flaticon-map, "skills");
}
.flaticon-medal:before {
    content: map-get($flaticon-map, "medal");
}
.flaticon-github:before {
    content: map-get($flaticon-map, "github");
}
.flaticon-telegram:before {
    content: map-get($flaticon-map, "telegram");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-profile-user:before {
    content: map-get($flaticon-map, "profile-user");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-agenda:before {
    content: map-get($flaticon-map, "agenda");
}
.flaticon-foreign:before {
    content: map-get($flaticon-map, "foreign");
}
