@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700");
@import "flat-icon/flaticon.css";
@import "animation.css";
@import "contacts.css";
@import "education.css";
@import "footer.css";
@import "languages.css";
@import "loader.css";
@import "person.css";
@import "portfolio.css";
:root {
  --primary_color: #2abffa;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #acb6e5;
  background: -webkit-linear-gradient(to left, #86fde8, #acb6e5);
  background: linear-gradient(to left, #86fde8, #acb6e5);
  font-size: 14px;
  padding-bottom: 5px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  color: var(--primary_color);
}

.page {
  padding: 0 20px;
}

.container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  margin: 2vh auto;
  padding: 20px 66px;
  min-height: 750px;
  max-width: 900px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.container__info {
  padding: 130px 90px 90px;
}

.about_me p {
  margin: 0;
}

.icon_github {
  color: black;
}

.icon_telegram {
  color: #26a6e7;
}

.icon_linkedin {
  color: #0077b7;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.tags__item {
  background-color: rgba(42, 191, 250, 0.6);
  color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 2px 4px;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 33px;
  }
  .container__info {
    padding: 0;
  }

  .portfolio__link {
    display: inline;
  }
}