.footer {
    display: flex;
    justify-content: center;
}

.footer__link {
    display: flex;
    font-size: 18px;
    opacity: 0.5;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footer__link i {
    padding: 1px 12px;
}

.footer__link:hover {
    opacity: 1;
}