.portfolio {
  &__item {
    padding-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__title {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 4px;

    transition: 0.2s;

    &:hover {
      background-color: rgba(var(--primary_color_rgb), 0.6);
      border: 1px solid rgba(var(--primary_color_rgb), 0.3);

      h3 {
        color: white;
        font-weight: 500;
      }
    }

    h3 {
      display: inline;
    }
  }

  &__description {
    margin: 6px;
  }

  &__icon {
    width: 26px;
    height: 26px;
  }
}
