@page "/"

@inject IPersonProvider _personProvider

<div class="container">
    <div class="container__info fade-in">
        <PersonInfo Person="@person" />
    </div>
    <div class="container__content fade-in">
        <PersonEducation EducationList=@person?.EducationList />
        <PersonHardSkills HardSkills="@person?.HardSkillsGroups" />
        <PersonLanguages Languages="@person?.Languages" />
        <PersonPortfolio Portfolio="@person?.Portfolio" />
        <PersonAbout About="@person?.About" />
    </div>
</div>

@code {
    private Person? person { get; set; }

    protected override async Task OnInitializedAsync()
    {
        person = await _personProvider.GetAsync();
    }

}