@page "/"

<div class="container">
    <div class="container__info">
        <div class="person">
            <img class="person__image" src="images/avatar.jpg" alt="Photo" />
            <h1 class="person__name">Artyom Maksimov</h1>
            <span class="person__position">Fullstack .Net Developer</span>
            <div class="contacts">
                <p class="contacts__item"><i class="flaticon-pin"></i><span>Russia, Novosibirsk</span></p>
                <p class="contacts__item"><i class="flaticon-email"></i><span><a
                            href="mailto:maksimov-artem@mail.ru">maksimov-artem@mail.ru</a></span></p>
                <p class="contacts__item"><i class="flaticon-calendar"></i><span>03/11/1995</span></p>
            </div>
            <div class="person__badges">
                <a href="https://github.com/temicch" class="icon_github"><i class="flaticon-github"></i></a>
                <a href="https://www.linkedin.com/in/temicch/" class="icon_linkedin"><i
                        class="flaticon-linkedin"></i></a>
                <a href="https://t.me/temicch" class="icon_telegram"><i class="flaticon-telegram"></i></a>
            </div>
        </div>
    </div>
    <div class="container__content">
        <div class="person__info_item education">
            <h2 class="person__info_title">
                <i class="flaticon-graduation-hat"></i>
                Education
            </h2>
            <div class="person__info_content">
                <h3 class="education__qualification">Bachelor of Informatics and Computer Science</h3>
                <p class="education__institution">Siberian State University of Telecommunications and Informatics -
                    Russia,
                    Novosibirsk</p>
                <span class="education__years">(2014 - 2018)</span>
            </div>
        </div>
        <div class="person__info_item">
            <h2 class="person__info_title">
                <i class="flaticon-skills"></i>
                Technical skills
            </h2>
            <div class="person__info_content">
                <div class=" tags">
                    <span class="tags__item">C#</span>
                    <span class="tags__item">.NET Framework</span>
                    <span class="tags__item">.NET Core</span>
                    <span class="tags__item">Asp .Net Core</span>
                    <span class="tags__item">Asp .Net Web Forms</span>
                    <span class="tags__item">Entity Framework Core</span>
                    <span class="tags__item">ADO.NET</span>
                    <span class="tags__item">Dapper</span>
                    <span class="tags__item">MSSQL</span>
                    <span class="tags__item">OOP</span>
                    <span class="tags__item">SOLID</span>
                    <span class="tags__item">CQRS</span>
                </div>
                <div class="tags">
                    <span class="tags__item">HTML</span>
                    <span class="tags__item">SASS</span>
                    <span class="tags__item">CSS</span>
                    <span class="tags__item">JS</span>
                    <span class="tags__item">Typescript</span>
                    <span class="tags__item">Vue</span>
                    <span class="tags__item">Git</span>
                    <span class="tags__item">TDD</span>
                    <span class="tags__item">CI/CD</span>
                </div>
            </div>
        </div>
        <div class="person__info_item languages">
            <h2 class="person__info_title">
                <i class="flaticon-language"></i>
                LANGUAGES
            </h2>
            <div class="person__info_content">
                <div class="languages__item">
                    <object class="languages__icon" type="image/svg+xml" data="images/eng.svg" />
                    <div class="languages_wrapper">
                        <h3 class="languages__title">English</h3>
                        <span class="languages__content">B1 Intermediate</span>
                    </div>
                </div>
                <div class="languages__item">
                    <object class="languages__icon" type="image/svg+xml" data="images/ru.svg" />
                    <div class="languages_wrapper">
                        <h3 class="languages__title">Russian</h3>
                        <span class="languages__content">Native Speaker</span>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="person__info_item portfolio">
            <h2 class="person__info_title">
            <i class="flaticon-agenda"></i>
            Portfolio
            </h2>
            <div class="person__info_content">
            <h3 class="education__qualification">Contacts Book</h3>
            <p class="education__institution">.NET 5 and Vue.js web application for composing user contacts</p>
            </div>
            </div> *@
        <div class="person__info_item about_me">
            <h2 class="person__info_title">
                <i class="flaticon-info-button"></i>
                About me
            </h2>
            <div class="person__info_content">
                <p>I am a ⚡ full-stack web developer with half a year experience. I love making 🎨 beautiful and 🎉
                    interactive websites.</p>
                <p>I have experience in development using 💥 Vue 2.</p>
                <p>I prefer ❤️ Asp .Net Core as a backend. And I'm ready to learn new things 📚</p>
            </div>
        </div>
    </div>
</div>
